.filter-container{
width: 100%;
display: flex;
flex-direction: row;
}

.filter-container h5 {
    font-size: 35px;
    color: aliceblue;
}

.genres{
    margin: 10px;
    background-color: #fbc500;
    color: black;
    padding: 10px;
    border-radius: 5px;
}