.row{
    color:white;
    margin-left:20px;
}
.row-posters{
    display: flex;
    flex-direction: row;
    overflow-y:hidden;
    overflow-x: visible;
    padding: 20px;
    
}
.row-posters::-webkit-scrollbar{
    color: black;
}
.row-posters > img{
    max-height: 250px;
    object-fit: contain;
    margin-right:10px;
    width: 100%;
    transition: transform 450ms;
    position: relative;
}

.row-posters >img:hover{
transform: scale(1.08);
opacity: 1;
}